:root {
    --Primary-fontPopinons: 'Work Sans';
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--Primary-fontPopinons);
}
body {
    width: 100%;
    max-width: 1620px;
}
/* header Section */
.header {
    background-color: #FFF4E7;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 25px;
}
nav ul {
    display: flex;
    gap: 30px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    margin-right: 15px;

}

.banner img {
    width: 85%;
    max-width: 1100px;
    margin: 0px 32px;
    margin-top: 50px;
    margin-bottom: 45px;
}

nav li {
    list-style: none;
}
.headline {
    text-align: center;
}

.headline h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 42px;
}

.headline p {
    width: 100%;
    max-width: 868px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 0px auto;
}
.bannerImage {
    width: 100%;
    margin: 50px 240px 45px 240px;
}
/* End */


/* Main Section Top Style */
.main-container-top {
    margin: 0px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    margin-bottom: 100px;
}

.image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    row-gap: 25px;
    column-gap: 25px;
}

.images img {
    width: 342px;
    height: 342px;

}

.aboutSection {
    margin-left: 75px;
    width: 100%;

}

.aboutSection p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.ExploreBtn-1 {
    border: 0px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    font-weight: 700;
    font-size: 16px;
    margin-top: 32px;
    border-radius: 5px;
}

/* close ----------------------------------------------*/

/* Middle section -------------------------------------*/

.main-containt{
    display: flex;
    /* border: 1px solid red; */
    margin: 0 25px;
}
.contant-1 {
padding: 30px 35px;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
border-radius: 5px;
margin-bottom: 20px;
}
.rightSide img {
width: 100%;
height: 100%;
margin-bottom: 200px;
}
.headContant{
width: 80%;
}
.headContant p {
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #727272;
margin-top: 25px;
margin-bottom: 30px;
}
.title{
border-left: 5px solid tomato;
color: #131313;
}
.title h1{
margin-left: 25px;
font-weight: 45px;
color: #131313;
}
.ExploreBtn {

background: #FF900E;
padding: 45px 42px;
border-radius: 5px;
margin-top: -330px;
margin-left: 530px;
position: absolute;
border: none;

}


/* Buttom Section of Main Section */
.mainButtom {
    margin: 25px auto;
}

.mainButtom h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 25px;
    margin-left: 25px;
}

.mainButtom p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    width: 542px;
    height: 52px;
    margin-left: 25px;
    margin-bottom: 50px;
    
}

.projectDiv {
    display: flex;
    justify-content: space-around;
}

.info h3 {
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: #424242;
    margin-top: 10px;
    text-align: center;
}

.info p {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;
    margin-top: 5px;
}

.project {
    Width: 150px;
    Height: 150px;
    border: 1px solid #FF900E;
    margin: 0px 50px;
    padding: 45px 35px;
    margin-bottom: 25px;
    text-align: center;
    border-radius: 10px;
}

/* hover for project information */
.project:hover {
    transition: transform 1s;
    transform: rotate(-360deg);
}


.extraSection {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.extraSection h3 {
    margin-bottom: 10px;
}

.sponsor {
    text-align: center;
   
}

.sponsor h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 25px;
}

.sponsor p {
    width: 542px;
    height: 52px;
    color: #727272;
    margin: 0 auto;
    margin-bottom: 50px;
    /* width: 100%; */
}

.sponsor img {
    filter: grayscale();
    
}

.sponsorLogo {
    display: flex;
    justify-content: space-around;
    margin: 0px 75px;
    flex-wrap: wrap;
}


.footer {
    background-color: #FFF4E7;
    margin-top: 130px;
    margin-bottom: 215px;
    width: 100%;
}

.footer p {
    padding: 40px 25px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #424242;
}

/* Media Quary */
/* Responsive for Nav */
@media only screen and (max-width: 576) {
    nav ul {
        flex-direction: column;
        width: 100%;
    }
}

@media only screen and (max-width:576px) {
    nav {
       flex-direction: column;
       margin-bottom: 10px;
    }
}
/* Responsive for main-content */
@media only screen and (max-width:576px) {
    .main-containt{
    flex-direction: column;
    }
    .ExploreBtn{
        margin-top: 515px;
    margin-left: 25px;
    
    }
    }
/* Responsive for about Project */
@media only screen and (max-width:576px) {
    .projectDiv {
        width: 100%;
        flex-direction: column;
    }
/* Responsive for main-buttom */
    .mainButtom p {
        width: 100%;
    }
}
/* Responsive for main-top */
@media only screen and (max-width:576px) {
    .images {
        margin-left: 10px;
    }

    .image {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
/* Responsive for Nav */
    .main-container-top {
        flex-direction: column;
        margin-left: 5px;
    }
/* Responsive for top right about Section */
    .aboutSection {
        margin-left: 5px;
        text-align: center;
        width: 100%;
    }
}

/* Responsive for Sponsor Section */
@media only screen and (max-width:576px) {
    .sponsorLogo {
        flex-direction: column;
        column-gap: 50px;
    }
}